*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    cursor: pointer;
}


.logo img{
    width:80px;
    height:20px;
}
nav span{
    cursor: pointer;
}
.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    
}
.logo{
    padding-left: 10px;
}
.flex-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav {
    padding: 10px 15px;
    width:100%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #fff;
    position: sticky;
    top:0;
    z-index: 10;

}
.nav-right img{
    width:25px;
    margin-right: 25px;
}
.usericon{
   width: 35px;
   border-radius: 50%;
   margin-right: 0; 
}
.nav-middle .mic-icon{
    width:16px;

}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding:8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width:400px;
    border:0;
    outline: 0;
    background: transparent;
}


.nav-middle .search-box img{
    width:15px;
    
}
.side-bar{
    background: white;
    width: 15%;
    height:100vh;
    position: fixed;
    padding-left: 15px;
    padding-top: 40px;
}
.shrotcut-list a img{
    width:20px;
    margin-right: 15px;


}
.shrotcut-list a{
    display: flex;
    margin-bottom:20px;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
}
.shrotcut-list a:first-child{
    color:#ed3833;
}
.side-bar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 80%;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color:#5a5a5a


}
.subscribed-list a{
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    width:fit-content;
    flex-wrap: wrap;

}
.subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.container{
background: white;
padding-left: 17%;
padding-right: 2%;
padding-bottom: 20px;
}
.banner{
    width:100%;

}
.banner img{
    width:100%;
    border-radius: 8px;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap:16px;
    grid-row-gap:30px;
    margin-top:15px;

}
.vid-list .thumbnail{
    width:100%;
    border-radius: 5%;

}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;


}
.vid-list .flex-div img{
    width: 35px;
    margin-right:10px;
    border-radius: 50px;
}
.vid-info{
    color:#5a5a5a;
    font-size: 13px;

}
.vid-info a{
    color:#000;
font-weight: 600;
display: block;
margin-bottom:5px;

}
@media (max-width: 900px){
  .side-bar{
    display: none;
  }
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav-right img{
    display: none;
  }
  .nav-right .usericon{
    display: block;
    width: 30px;

  }
  .nav-middle .search-box input{
    width:200px;

  }
 
}